/**
 * Fix user-agent
 */

 * {
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #264653;
    font-family: 'Varela Round', sans-serif;
  }

  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
    background-color: transparent;
    text-align: center;
    color:white;
  }

  .logo{
    font-size: 16px;
    color:#366171;
    margin-bottom:10px;
  }

  h2{
    color:white;
    font-size: 40px;
    margin-top:0px;
  }

  p{
    color:white;
    line-height:24px;
  }

  button{
    margin-top:10px;
    background-color: #2A9D8F;
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 5px 10px #0000001f;
  }

  .page{
    height:100vh;
    width:100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .form {
    width:50%;
    text-align: center;
    max-width: 500px;
  }
  
  .chatInput {
    background-color: transparent;
    border: none;
    border: 2px solid #366171;
    border-radius: 20px;
    outline: none;
    padding-bottom: 15px;
    text-align: center;
    width: 400px;
    font-size: 30px;
  }
  .chatInput.error-input{
    border-color:#E76F51;
  }

  .error{
    color: #E76F51;
    margin-bottom: 20px; 
  }
  .error-hide{
    display: none;
  }


  @media only screen and (max-width: 600px) {
    .form {
      height: auto;
      width:80%;
      text-align: center;
    }
    .form .chatInput {
      width:100%;
    }
  }


